#maincontainer{
    height: auto;
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    box-sizing: border-box;
}

#container_1{
    width: 90%; height: auto; margin: auto;
}
#top{
    height: 40px;
    width: auto;
    
    /* border: 1px solid black; */
    /* padding-top: 15px; */
    margin: auto;
    color: rgba(2,71,91,.7);
    line-height: 14px;
    font-family: ibm_plex_sansregular;
    display: flex;
    box-sizing: border-box;
    padding: 10px 0px 0px 0px;
}


#displayinline{
    list-style: none;
    margin: 0px 0px 0px 200px;
    /* -moz-box-align: start; */
    align-items: flex-start;
    border-bottom: .5px solid #d8d8d8;
    height: 100%;
    

}
.flexCent{
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
}
#second{
   /* border: 1px solid red; */
   height: 300px;
   width: 100%;
   display: flex;
   margin-top: 20px;
   
}
#one{
    height: 100%;
    width: 65%;
 
    /* border: 1px solid pink; */

/*     border: 1px solid pink; */
 master
    
}
#two{
    height: 100%;
    width: 34%;
    /* border: 1px solid purple; */
    margin-left: 30px;
    box-sizing: border-box;
    
}
#inp{
    height: 70px;
    width: 100%;
    /* border: 1px solid yellow; */
    margin: auto;
    border-radius: 5px;
    background-color: rgb(234, 235, 236);
}
#imp{
    height: 200px;
    width: 100%;
    border: 1px solid brown;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}
#outerbox{
    height: 200px;
    width: 100%;
    border: 1px solid yellow;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(234, 235, 236);
    margin-top: 20px;
    overflow: hidden;
}


#sym{
    height: 60px;
    width: 100%;
    /* border: 1px solid yellow; */
    border-radius: 5px;
    display: flex;

}
#img{
    margin: 5px 5px 5px 5px;
}
#pres{
    height: 110px;
    
    /* border: 1px solid rgb(49, 18, 7); */
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f7f4f4;
    font-family: ibm_plex_sansregular;
    padding: 20px 0px 0px 20px;
    color: rgba(2,71,91,.7);
}
#pre{
    height: 60px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f7f4f4;
    color: rgba(2,71,91,.7);
    padding: 10px 0px 0px 20px;
}
#btn{
    background-color: #fc9916;
    color: white;
    border: none;
    border-radius: 5px;
    height: 29px;
    margin-top: 10px;
    width: 100px;
}
.grey{
    background-color: gray;
}

.bor{
    /* border: 1px solid red; */
    height: auto;
    width: 100% ;

}
.bor{
    display: flex;
    border-bottom: 1px solid rgba(2,71,91,.2);
    justify-content: space-between;
    align-items: center;
    font-family: ibm_plex_sansregular;
    color: rgba(2,71,91,.7);
    height: 40px;
}
.bord{
    display:flex;
    /* border: 1px solid pink; */
    padding: 5px 5px 5px 5px;
   
    
}
.bord>div{
    /* border: 1px solid black; */
    height: 240px;
    width: 240px;
    border-radius: 8px;
    margin: 5px 5px 5px 5px ;
    text-align: center;
    padding: 5px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.HotSeller_product{
    font-size: 12px;
    color: #01475b;
    font-family: ibm_plex_sansregular;
    padding-top: 8px;
    min-height: 40px;
    overflow: hidden;
    display: -webkit-box;
    width: 80%;
    margin:auto;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
} 
#borde{
    height: 100px;
    width: 240px;
    /* border: 1px solid black; */
    display: flex;
}
.reimg{
    margin: auto;
    color: #01475b;
    font-family: ibm_plex_sansregular;
    font-size: 12px;
}
.priceGroup{
    font-size: 14px;
    font-family: ibm_plex_sansmedium;
    color: #01475b;
    height: 40px;
}
.image{
    height: 40px;
    width: 40px;
}
.dis{
    display: flex;
    border: 1px solid blue;
    margin: 10px;

}
.imag{
    height: 50px;
    width: 100px;
}
.border{
    display: flex;
    height: 150px;
    width: 33%;
    margin: auto;
    padding: 15px;
    /* border: 1px solid red; */
}
#thirdmaindiv{
    padding: 20px 0px;
   position: relative;
   background: #fff;
   box-sizing: border-box;
   padding-left: 10px;
}
#thirdmaindiv>div>ul>li{
      list-style: none;
      margin-left: 2px;
}
#forthmaindiv{
    padding:20px;
    width: 95%;
    margin:auto;
    height: auto;
    box-shadow: 0 5px 20px 0 hsl(0deg 0% 50% / 30%);
    /* border: 1px solid red; */
}
/* #forthdiv>{

} */
#forthdiv>div>div+div{
    font-size: 14px;
    width: 80%;
    color: #02475B;
    line-height: 20px;
}
#fivthcon{
   background-color: rgb(41, 39, 39);
   display: flex;
}
.bottom{
    margin: 20px 70px 10px 25px;
    padding:5px;
    color:white;
    font-family: ibm_plex_sansregular;
}
#fivthcon>div>h4{
    font-family: ibm_plex_sansregular;
}
.buttons{
    background: #fff;
    color: #fc9916;
    border: none;
    font-size: 14px;
    font-weight: 2px;
}
.line{
    text-decoration: line-through;
    color: grey;
}
#blue{
    height:200px;
    width: 97%;
    display: flex;
    margin: auto;
    border-radius: 10px;
    border: 1px solid white;
}
#blue1{
    height: 100%;
    width: 60%;
    background-color: #1f89a6; 
    color: white;
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
}
#blue2{
    height: 100%;
    width: 40%;
     background: #e4edf4 ;
     padding-left: 10px;
     border-radius: 0px 10px 10px 0px;
}

.view{
    text-decoration: none;
    color:#fc9916;
}
/* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .content{
    height: 400px;
    width: 750px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
  }
  .content .images{
    height: 100%;
    width: 100%;
  }
  .images img{
    height: 100%;
    width: 100%;
  } */
  

 /* .first_hover{

/*  .first_hover{

     border: 1px solid red;
 } */
 #top>ul>li>div:hover{
          display: block;
 }

 } */

.sub_menu_1{
    display: none;
     /* margin: 10px; */
    
}
.sub_menu_2{
    display:flex;
    
}
.sub_menu_2>div{
    height: auto;
    width: 150px;
    /* border: 1px solid red; */
    margin-left: 10px;
    /* padding: 5px; */

}
#top ul li:hover .sub_menu_1{
    display: block;
    position: absolute;
    background: #fafafa;
    margin-top: 20px;
    margin-left: -15px;
}


#nav{
    /* border: 1px solid yellowgreen; */
    height: 100px;
    width: 100%;
}
.navimg{
    width: 100px;
    height: 90px;
    padding: 8px; 
}
header{
    position: relative;
    /* z-index: 17; */
    margin: auto;
    /* height: 100px; */
}
#nav{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    font-size:small;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    width: 100%;
    margin: auto;
    background-color: white;
    font-family: sans-serif;
    height: 115px;
}
#subnav{
    display: flex;
    /* border: 1px solid orange; */
    height: 115px;
    
}
#subnav>div{
    box-sizing: border-box;
    height: auto;
    width: 110px;
    /* border: 1px solid purple; */
    padding: 0px 10px 2px 5px;
    color: black;
    font-family: ibm_plex_sansregular;
    font-size: 14px;
}

.size{
    width: 40px;
    margin-top: 2px;
}
.ref{
   
    text-decoration: none;
}
.col{
    color: rgba(2,71,91,.7);
}
#phar{
    background-color: rgb(241, 240, 240);
}
#preimg{
    height: 50px;
    width: 50px;
}
#simg{
    height: 50px ;
    width: 100px;
}
/* for image slide */
.imgsize{
    height: 200px;
    width: 100%;
    
}
#sliderbox{
    position: relative;
    width: 800px;
    animation-name: slideimage;
    animation-duration: 20s;
    /* overflow: hidden; */
   

}
#sliderbox img
 {
    float: left;
}
@keyframes slideimage{
    from 
    {
        left: 0px;
    }
        
    to
    {
        left:-700px;
    }  
}

